<style>
    body {
      display: flex;
      flex-direction: column;
      min-height: 100vh;
    }
    main {
      flex: 1;
    }
    .footer-icons a {
      margin: 0 10px;
      color: white;
      font-size: 1.5rem;
      transition: color 0.3s ease;
    }
    .footer-icons a:hover {
      color: #ffcc00;
    }
    footer {
      position: relative;
      bottom: 0;
      width: 100%;
    }
  </style>
<footer class="bg-dark text-white text-center py-3">
    <div class="container">
      <div class="footer-icons">
        <a href="https://github.com/AKeeF-Albayrak" target="_blank">
          <i class="bi bi-github"></i>
        </a>
        <a href="https://www.linkedin.com/in/akif-albayrak-0b4616278/" target="_blank">
          <i class="bi bi-linkedin"></i>
        </a>
      </div>
    </div>
  </footer>